// colors
$black: #000000;

$white: #ffffff;

$boulder: #7c7c7c;

$balticSea: #232225;

$silverChalice: #9E9E9E;

$abbey: #4B4B4E;

$tuatara: #3C3C38;

$gallery: #EDEDED;

$mercury: #e4e4e4;

$alto: #D9D9D9;

$wildSand: #f6f6f6;


